@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  font-family: 'Fira Code', monospace;
}